#wrapper {
	width: 800px;
	height: 500px;
	margin: 0 auto
}

#wrapper a:hover, #wrapper a:active {
	background-color: #60c537;
	color: #f8f3f3
}

#content {
	width: 500px;
	height: 300px
}

.grid-16-8 .article {
	overflow: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	box-shadow: 0.1px 0.1px 1px 1px #888888;
	width: 500px;
	height: 340px;
}

.article  p img{
	margin-top: 5px;
	width: 30px;
	height: 30px;
}

.article .chat-me{
	width: 480px
}

.article .chat-me span{
	float: right
}

.content-input {
	height: 40px;
	width: 500px
}

.but-submit{
	float: right
}