@CHARSET "UTF-8";
#db-nav-sns {
	position: relative;
	zoom: 1;
	background: #edf4ed;
}

#db-nav-sns .nav-primary {
	width: 1040px;
	margin: 0 auto;
	overflow: hidden;
	padding: 22px 0 20px;
	zoom: 1;
}

.account-wrap {
	width: 1040px;
	margin: 20px auto 0;
	overflow: hidden;
}

.account-main {
	float: left;
	width: 590px;
}

.account-side {
	float: right;
	width: 310px;
	color: #666;
}

.account-body {
	max-width: 750px;
	margin: auto;
	padding: 20px 15px
}

.account-body, .account-body h2 {
	box-sizing: border-box;
	width: 100%
}

.account-body h2 {
	margin: 0 auto;
	padding: 0 0 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 1
}

.account-body-text {
	display: block;
	margin-bottom: 20px;
	font-size: 23px
}

.account-body-tips {
	display: block;
	color: #9b9b9b;
	font-size: 15px;
	line-height: 1.2
}

html {
	color: #111;
	width: 100%;
	height: 100%;
	background-color: #fff
}

body, button, div, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend,
	li, textarea, ul {
	margin: 0;
	padding: 0
}

ol, ul {
	list-style: none
}

textarea {
	resize: none
}

a:active, a:hover, input[type=number]:focus, input[type=password]:focus,
	input[type=phone]:focus, input[type=text]:focus, textarea:focus {
	outline: none
}

button, input[type=button], input[type=submit] {
	border: none;
	background-color: transparent;
	-webkit-appearance: none;
	font-size: 13px;
	outline: none;
	cursor: pointer
}

fieldset {
	border: none
}

label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

a {
	cursor: pointer
}

body {
	font: normal 13px/1.618 Helvetica, Arial, Hiragino Sans GB, Microsoft
		YaHei, WenQuanYi Micro Hei, sans-serif;
	min-height: 100%;
	color: #333
}

.account-form-field-options a:active, .account-form-field-options a:hover,
	.account-form-field-options a:link, .account-form-field-options a:visited
	{
	text-decoration: none;
	color: #bababa;
	background-color: transparent
}

.account-form-field-options a:active, .account-form-field-options a:hover
	{
	color: #a1a1a1
}

body {
	-webkit-tap-highlight-color: transparent
}

body, div, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
	margin: 0;
	padding: 0
}

a {
	text-decoration: none;
	border: none;
	tap-highlight-color: transparent
}

input[type=number], input[type=password], input[type=phone], input[type=text]
	{
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(255, 0, 0, 0);
	background: transparent
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #fff inset
}

input::-webkit-contacts-auto-fill-button, input::-webkit-credentials-auto-fill-button
	{
	visibility: hidden;
	pointer-events: none;
	position: absolute;
	right: 0
}

a img {
	border-width: 0;
	vertical-align: middle
}

a:focus, button, input {
	outline: 0
}

.app-hide, .hide {
	display: none
}

.show {
	display: block
}

.mrg0 {
	margin: 0
}

.account-form-raw {
	margin-bottom: 20px;
	position: relative
}

.account-form-raw:after {
	content: "";
	clear: both
}

.account-form-label {
	float: left;
	display: block;
	line-height: 40px;
	height: 40px;
	width: 60px;
	font-size: 13px
}

.account-form-field {
	position: relative;
	margin-bottom: 10px;
	margin: 0;
	width: 350px;
	display: inline-block
}

.account-form-input {
	width: 280px;
	font-size: 13px;
	padding: 10px;
	border-radius: 3px;
	box-sizing: border-box;
	border: 1px solid #e4e6e5
}

.account-form-error {
	position: absolute;
	top: -10px;
	left: 0
}

.account-form-field-submit {
	position: relative;
	width: 280px;
	margin-left: 60px;
	padding-top: 20px
}

.account-form-field-submit.mrg-left {
	margin-left: 60px
}

.account-form-field-submit.mrg0 {
	margin: 0
}

.account-form .btn {
	display: inline-block;
	height: 36px;
	padding: 0 35px;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	line-height: 36px;
	text-align: center;
	outline: 0;
	cursor: default;
	background-color: rgba(66, 189, 86, .5)
}

.account-form .btn-active {
	cursor: pointer;
	background-color: #41ac52
}

.account-form .btn-active:hover, .account-form .btn-active:visited {
	color: #fff
}

.account-side h2 {
	font-size: 15px;
	color: #072;
	margin: 0 0 12px;
	line-height: 150%
}

.aside-link a {
	color: #37a;
	font-size: 14px
}

.account-body-tips {
	padding-bottom: 30px;
	font-size: 13px;
	font-weight: 400
}

.account-form-label {
	width: 80px
}

.account-form-field-submit {
	width: 100%;
	border-top: 1px dashed #ccc;
	margin-left: 0;
	margin-top: 40px
}

.account-form-error {
	top: -30px
}
