body {
	margin: 0;
}

#db-global-nav {
	font: 12px Helvetica, Arial, sans-serif;
	line-height: 1.62;
	font-size: 12px;
}

#db-global-nav em {
	font-style: normal;
	font-weight: normal;
}

#db-global-nav ul {
	margin: 0;
	padding: 0;
}

#db-global-nav a {
	cursor: pointer;
	text-decoration: none;
}

#db-global-nav .bn-more span {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: baseline;
}

#db-global-nav .arrow {
	position: relative;
	top: -2px;
	left: 2px;
	border-width: 3px 3px 0;
	border-color: #d5d5d5 transparent transparent transparent;
	border-style: solid dashed dashed dashed;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
}

#db-global-nav .more-items {
	display: none;
	position: absolute;
	left: 0;
}

#db-global-nav {
	height: 28px;
	color: #d5d5d5;
	background-color: #545652;
	min-width: 950px;
}

#db-global-nav a:link, #db-global-nav a:visited, #db-global-nav a:hover,
	#db-global-nav a:active {
	color: #d5d5d5;
}



#db-global-nav .global-nav-items {
	font-size: 0;
}

#db-global-nav .global-nav-items li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	line-height: 28px;
	font-size: 12px;
	vertical-align: baseline;
}

#db-global-nav .global-nav-items a {
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 0 12px;
	height: 28px;
}

#db-global-nav li.market-tip {
	padding-right: 20px;
}

#db-global-nav .top-nav-info {
	float: right;
	margin: 0 12px 0 0;
	line-height: 28px;
}

#db-global-nav .top-nav-info ul, #db-global-nav .top-nav-info li {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

#db-global-nav .top-nav-info a {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0;
	padding: 0 12px;
	height: 28px;
}

#db-global-nav .nav-user-account .more-items {
	left: auto;
	right: 6px;
}


#db-global-nav .top-nav-reminder {
	position: relative;
	float: right;
	margin-right: 5px;
	line-height: 28px;
}

#db-global-nav .top-nav-reminder a {
	position: relative;
}

#db-global-nav .top-nav-reminder .lnk-remind {
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 0 12px;
	height: 28px;
}

#db-global-nav .top-nav-reminder .num {
	position: absolute;
	top: 4px;
	*top: 0;
	left: 3em;
	padding: 0 3px;
	margin-left: 5px;
	color: #fff;
	line-height: 1.5;
	background-color: #f7996d;
	*margin-top: 4px;
}



#db-global-nav .top-nav-doubanapp {
	position: relative;
	float: right;
	margin-right: 5px;
	line-height: 28px;
}

#db-global-nav .top-nav-doubanapp .lnk-doubanapp {
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 0 8px;
	height: 28px;
}

.nav {
	width: 100%;
	min-width: 1040px;
	overflow: hidden;
	zoom: 1;
	margin-bottom: 50px;
}

.nav .nav-wrap {
	border-bottom: 1px solid #e5ebe4;
}

.nav .nav-primary, .nav .nav-secondary {
	width: 1040px;
	margin: 0 auto;
	padding-bottom: 0;
	overflow: hidden;
	zoom: 1;
}

.nav .nav-primary {
	position: relative;
	padding: 10px 0 5px;
	overflow: hidden;
	zoom: 1;
}

.nav .nav-logo {
	float: left;
	height: 56px;
	width: 145px;
	margin: 0 13px 0 0;
	background:
		url(images/logo_db.png) no-repeat 0 12px;
}

.nav .nav-logo a {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	line-height: 100em;
}

.nav .nav-logo a:hover, .nav .nav-logo a:active {
	background: none !important;
}

.ua-iphone .nav {
	-webkit-text-size-adjust: none;
}

.nav-search {
	position: relative;
	overflow: hidden;
	zoom: 1;
	padding: 10px 0 15px 0;
}

.nav-search input {
	-webkit-appearance: none;
	border: none;
	background: transparent;
}

.nav-search label {
	position: absolute;
	left: 11px;
	top: 10px;
	line-height: 30px;
	cursor: text;
	color: #bbb;
	width: auto;
}

.nav-search ::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #bbb;
}

.nav-search :-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #bbb;
}

.nav-search .inp {
	float: left;
	width: 470px;
	height: 34px;
	text-align: center;
	_margin-right: -3px;
	cursor: text;
	background: url("images/bn_srh_1.png") no-repeat 0 0;
}

.nav-search .inp input {
	background: #fff;
	width: 96%;
	margin: 0;
	text-align: left;
	height: 30px;
	padding-left: 10px;
	height: 28px\9;
	line-height: 28px\9;
	outline: none;
}

.nav-search legend {
	display: none;
}

.nav-search fieldset {
	border: none;
	padding: 0;
	margin: 0;
	position: static;
}

.nav-search .inp-btn {
	position: relative;
	left: -1px;
	*top: -1px;
	width: 37px;
	height: 34px;
	zoom: 1;
	overflow: hidden;
}

.nav-search .inp-btn input {
	width: 100%;
	height: 100%;
	font-size: 0;
	padding: 35px 0 0 0;
	overflow: hidden;
	background: url("images/bn_srh_1.png") no-repeat 0 -40px;
	color: transparent;
	cursor: pointer;
}

.nav-search .inp-btn input:hover {
	background-position: -40px -40px;
}

.nav-search .inp-btn input:active {
	background-position: 0 -40px;
}

/* end copy */
/* copy from css/nav/sns.scss */
#db-nav-sns {
	position: relative;
	zoom: 1;
	background: #edf4ed;
}

#db-nav-sns a:link, #db-nav-sns a:visited {
	color: #072;
}

#db-nav-sns a:hover, #db-nav-sns a:active {
	background-color: #072;
	color: #fff;
}

#db-nav-sns li {
	display: inline;
}

#db-nav-sns .nav-wrap {
	border: none;
}

#db-nav-sns .nav-primary {
	overflow: hidden;
	padding-top: 12px;
	zoom: 1;
}

#db-nav-sns .nav-search {
	position: absolute;
	right: 0;
	*width: 282px;
}

#db-nav-sns .nav-logo {
	width: 184px;
	height: 57px;
	background-position: 0 10px;
}

#db-nav-sns label {
	line-height: 28px;
}

#db-nav-sns .inp {
	width: 278px;
	height: 28px;
	background: #fff;
	border: 1px solid #e1e9e1;
	text-align: left;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
}

#db-nav-sns .inp input {
	margin: 0;
	width: 242px;
	height: 28px;
	line-height: "26px	";
}

#db-nav-sns .inp-btn {
	position: absolute;
	left: auto;
	top: 10px;
	right: 0;
	width: 30px;
	height: 28px;
	*height: 30px;
	border: 1px solid #e1e9e1;
	border-left: none;
	background-color: #fff;
	font-size: 0;
	overflow: hidden;
}

#db-nav-sns .inp-btn input {
	width: 30px;
	height: 28px;
	*height: 30px;
	padding: 0;
	margin: 0;
	line-height: 100px;
	background: transparent
		url(images/bn_srh_1.png)
		no-repeat 50% 50%;
}

#db-nav-sns .inp-btn {
	position: absolute;
	left: auto;
	top: 10px;
	right: 0;
	width: 30px;
	height: 28px;
	*height: 30px;
	border: 1px solid #e1e9e1;
	border-left: none;
	background-color: #fff;
	font-size: 0;
	overflow: hidden;
}

#db-nav-sns .inp-btn input {
	width: 30px;
	height: 28px;
	*height: 30px;
	padding: 0;
	margin: 0;
	line-height: 100px;
	background: transparent
		url(images/bn_srh_1.png)
		no-repeat 50% 50%;
}

#db-nav-sns .nav-items {
	float: left;
	margin-top: 15px;
}

#db-nav-sns .nav-items li {
	margin-right: 20px;
	font-size: 16px;
}

#db-nav-sns .nav-items li a {
	position: relative;
}

/* end copy */
/* copy from /css/lib/tagsug.css */
.suggest-overlay {
	position: absolute;
	z-index: 10001;
	width: auto;
	background: #fff;
	border: 1px solid #c5c7d2;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.sug-kind-search li span {
	float: right;
}

body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form,
	fieldset, legend, input, button, textarea, blockquote {
	margin: 0;
	padding: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset, img {
	border: 0
}

address, caption, cite, code, dfn, em, i, strong, th, var, optgroup {
	font-style: normal;
	font-weight: normal
}

ul, ol {
	list-style: none
}

legend {
	color: #000
}

input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit
}

input, button, textarea, select {
	*font-size: 100%
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word
}

a {
	cursor: pointer
}

a:link {
	color: #37a;
	text-decoration: none
}

a:visited {
	color: #669;
	text-decoration: none
}

a:hover {
	color: #fff;
	text-decoration: none;
	background: #37a
}


body, td, th {
	font: 12px Helvetica, Arial, sans-serif;
	line-height: 1.62
}

table {
	border-collapse: collapse;
	border: none;
	padding: 0;
	margin: 0
}

wbr:after {
	content: "\00200B"
}

textarea {
	resize: none
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
	outline: none
}

ol {
	padding: 0 0 0 20px
}

textarea {
	font-family: Arial;
	overflow: auto
}

input {
	font-size: 12px
}

.clearfix {
	zoom: 1;
	_height: 1px
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.fleft {
	float: left
}

.fright {
	float: right
}

.ll {
	float: left
}

.rr {
	float: right
}

.pl {
	font: 12px Arial, Helvetica, sans-serif;
	line-height: 150%;
	color: #666666
}

.pl2 {
	font: 14px Arial, Helvetica, sans-serif;
	line-height: 150%;
	color: #666666
}

form {
	margin: 0;
	padding: 0;
	border: 0px
}

fieldset {
	border: 1px solid #ddd;
	padding: 0 10px;
	margin-bottom: 15px
}

fieldset legend {
	color: #666;
	padding: 0 5px
}

input {
	margin-right: 3px;
	vertical-align: middle
}

label {
	font-family: Tahoma;
	vertical-align: middle
}

.mod {
	width: auto;
	*zoom: 1;
	margin-bottom: 35px
}

.mod:after {
	content: '\0020';
	display: block;
	clear: both
}

.aside .mod {
	margin-bottom: 40px;
	word-break: break-all
}

#wrapper {
	width: 950px;
	margin: 0 auto
}

#content {
	min-height: 420px
}

#footer {
	color: #999;
	padding-top: 6px;
	margin: 40px 0 20px 0;
	overflow: hidden;
	zoom: 1;
	border-top: 1px dashed #ddd
}

.grid-16-8 .article {
	float: left;
	width: 590px;
	padding-right: 40px
}

.grid-16-8 .article .switch-to-shuo {
	float: right;
	margin-top: -45px
}

.grid-16-8 .article .switch-to-shuo a {
	display: block;
	width: 134px;
	height: 38px;
	background:
		url(/f/shire/6822457a2fc71115d0774dfaf5c9d245577d5992/pics/switch_to_shuo.png)
		no-repeat left top
}





.grid-4-14-6 .nav {
	float: left;
	width: 150px;
}

.grid-4-14-6 .article {
	width: 540px;
	padding-right: 10px
}



.paginator {
	width: 100%;
	zoom: 1;
	font: 14px Arial, Helvetica, sans-serif;
	color: #aaa;
	margin: 20px 0;
	line-height: 150%;
	text-align: center
}

.paginator a, .thispage, .break {
	padding: 0px 4px;
	margin: 2px
}

.paginator .prev {
	margin-right: 20px
}

.paginator .next {
	margin-left: 20px
}

.paginator .next a, .paginator .prev a {
	padding: 0;
	margin: 0
}

.paginator .count {
	margin-left: 20px;
	font-size: 14px
}

.paginator .thispage {
	color: #fff;
	background: #83BF73
}

.paginator .break {
	color: #999
}

.paginator .thispage {
	color: #fff;
	background: #83BF73
}

.paginator .break {
	color: #999
}


#db-talk .editable-over {
	background-color: #feff9f
}

#db-isay {
	position: relative;
	padding: 0;
	margin: -5px 0 2em;
	*zoom: 1;
	z-index: 1
}

#db-isay .item {
	position: relative;
	z-index: 0;
	margin-bottom: 0;
	overflow: hidden
}

#submit_error {
	margin-top: 10px
}

#db-isay .drag-tips {
	display: none;
	position: absolute;
	top: 0;
	z-index: 2;
	background: #fff;
	width: 582px;
	height: 78px;
	line-height: 78px;
	font-size: 16px;
	text-align: center;
	border: 4px dashed #ccc;
	color: #999
}

#db-isay.drag textarea, #db-isay.drag label, #db-isay.drag p {
	visibility: hidden
}

#db-isay.drag .drag-tips {
	display: block
}



#db-isay.drag.act-pic .drag-tips {
	top: 8px;
	left: 8px;
	width: 650px;
	height: 94px;
	line-height: 94px;
	border-width: 3px
}

#db-isay:after {
	content: '\0020';
	clear: both;
	display: block
}

#db-isay label {
	position: absolute;
	margin: 4px 0 0 6px;
	font-size: 14px;
	color: #aaa;
	pointer-events: none;
	cursor: text
}

#db-isay #isay-label {
	margin: 6px 0 0 9px
}

#db-isay textarea {
	background: transparent;
	width: 556px;
	padding: 7px 25px 7px 7px;
	_margin-top: -1px;
	height: 16px;
	overflow: hidden;
	vertical-align: bottom;
	border: none;
	font-family: tahoma;
	line-height: 1.3;
	position: relative;
	z-index: 1;
	-webkit-transition: all 0.1s
}

#db-isay .item {
	border: 1px solid #d7d7d7;
	border-radius: 1px;
	-moz-border-radius: 1px
}

#db-isay.active .item {
	border-color: #ccc
}

#db-isay .btn {
	float: none;
	width: auto;
	margin-right: 0;
	text-align: right;
	background: #f4f4f4;
	padding: 8px;
	border: 1px solid #ccc;
	border-top: none;
	position: relative;
	_zoom: 1
}

#db-isay .bn-flat {
	vertical-align: middle
}

#db-isay .bn-flat input {
	font-size: 14px;
	overflow: visible;
	line-height: 2.2;
	height: 2.1em;
	_line-height: 1;
	_height: 1em;
	_padding-top: 0.6em;
	_padding-bottom: 0.3em
}

#db-isay .bn-flat input:focus {
	background: #e0e0e0
}

#db-isay.isay-disable .btn .bn-submit input {
	border-color: #b9b9b9 !important;
	background: #f0f0f0 !important;
	color: #999 !important;
	cursor: text
}

#db-isay.isay-disable .btn .bn-submit:hover {
	border-color: #bbb #bbb #999;
	text-shadow: none
}

#db-isay .bd {
	color: #999
}



#db-isay .bn-x:hover, #db-isay .bn-x:active, #db-isay .bn-x:visited {
	color: #bec3c3;
	background: transparent
}

#db-isay .isay-close {
	_top: 7px
}

#db-isay .ico {
	background:
		url(images/isay_icons.3.svg)
		no-repeat, none;
	display: inline-block;
	height: 20px;
	width: 18px;
	margin-right: 12px;
	text-indent: 999em;
	overflow: hidden;
	line-height: 20px;
	color: #888;
	font-family: stheiti, tahoma, simsun, sans-serif
}

#db-isay .ico-link {
	background-position: 0 -5px
}

#db-isay .ico-pic {
	background-position: 0 -35px
}

#db-isay .ico-topic {
	background-position: -1px -65px
}

#db-isay .btn {
	display: none
}

#db-isay.active .btn, #db-isay.acting .field {
	display: block
}

#db-isay .tipmsg, #db-isay .bn-submit, #db-isay .isay-close {
	display: none
}


#db-isay .btn-group {
	position: absolute;
	top: 36px;
	right: 0;
	white-spacing: nowrap;
	font-size: 0;
	z-index: 1
}

#db-isay .btn-group * {
	font-size: 13px
}

#db-isay.active .btn-group {
	position: relative;
	float: left;
	margin-top: -108px;
	margin-bottom: 10px;
	margin-left: 8px
}

#db-isay .isay-links {
	position: relative;
	z-index: 2;
	font-size: 0;
	height: 30px;
	line-height: 30px
}

#db-isay .isay-links li {
	font-size: 14px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding-left: 22px;
	margin-right: 18px;
	
	background:
		url(images/isay_icons.3.svg)
		no-repeat, none
}





#db-isay .isay-links .isay-main {
	background-position: 0 -90px
}

#db-isay .isay-links .notes-link {
	background-position: 0 -121px
}

#db-isay .isay-links .commodity-link {
	background-position: 0 -151px
}

#db-isay .isay-links .active a, #db-isay .isay-links .active a:link,
	#db-isay .isay-links .active a:visited, #db-isay .isay-links .active a:active,
	#db-isay .isay-links .active a:hover {
	color: #111;
	background-color: transparent;
	cursor: default
}

#db-isay .isay-act {
	word-break: break-all
}

#db-isay .commodity-link .publish-ways {
	display: none;
	font-size: 0;
	position: absolute;
	top: 30px;
	left: -50px;
	width: 193px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px 0;
	z-index: 5
}

#db-isay .commodity-link .publish-ways .share, #db-isay .commodity-link .publish-ways .review
	{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	font-size: 12px;
	padding: 0 18px;
	line-height: 1.62;
	width: 60px;
	text-align: center
}

#db-isay .commodity-link .publish-ways .share a, #db-isay .commodity-link .publish-ways .review a
	{
	display: block;
	padding-top: 50px
}

#db-isay .commodity-link .publish-ways .share a:link, #db-isay .commodity-link .publish-ways .share a:visited,
	#db-isay .commodity-link .publish-ways .share a:active, #db-isay .commodity-link .publish-ways .share a:hover,
	#db-isay .commodity-link .publish-ways .review a:link, #db-isay .commodity-link .publish-ways .review a:visited,
	#db-isay .commodity-link .publish-ways .review a:active, #db-isay .commodity-link .publish-ways .review a:hover
	{
	color: #111;
	background:
		url(/f/sns/9b2f1bc1a3e26263f6926c92366ae17b843603d1/pics/dongxi/icons_publish.1.png)
		no-repeat 0 0
}

#db-isay .commodity-link .publish-ways .share {
	border: 1px solid #e6e6e6;
	border-width: 0 1px 0 0;
	-webkit-border-image: -webkit-linear-gradient(bottom, #fff 0%, #e6e6e6 40%, #e6e6e6 60%, #fff)
		1 100%;
	-moz-border-image: -moz-linear-gradient(to bottom, #fff 0%, #e6e6e6 40%, #e6e6e6 60%, #fff)
		1 100%;
	border-image: linear-gradient(0deg, #fff 0%, #e6e6e6 40%, #e6e6e6 60%, #fff)
		1 100%
}

#db-isay .commodity-link .publish-ways .share a:link, #db-isay .commodity-link .publish-ways .share a:visited,
	#db-isay .commodity-link .publish-ways .share a:active, #db-isay .commodity-link .publish-ways .share a:hover
	{
	background-position: 19px -74px
}

.abs-out {
	position: absolute;
	left: -9999px;
	top: -9999px
}

.msg-wait {
	background:
		url(/f/sns/b66b312561667597f59ae2ff465eb5e301b70046/pics/loading.gif)
		no-repeat 0 5px;
	padding-left: 22px
}

#isay-upload {
	position: absolute;
	width: 21px;
	height: 22px;
	padding: 0;
	overflow: hidden;
	right: 38px;
	top: -1px;
	opacity: 0
}

#isay-upload input {
	cursor: pointer;
	position: absolute;
	height: 22px;
	right: 0;
	margin: 0;
	filter: alpha(opacity = 0);
	-ms-filter: alpha(opacity = 0)
}

#db-isay.active #isay-upload {
	right: 64px;
	width: 48px
}

.highlighter {
	margin: 0;
	position: absolute;
	z-index: 0;
	top: 1px;
	left: 1px;
	overflow: hidden;
	background: #fff;
	white-space: pre-wrap;
	word-wrap: break-word;
	color: transparent;
	*color: #fff;
	width: 556px;
	padding: 7px 25px 0 7px;
	height: 16px;
	overflow: hidden;
	vertical-align: bottom;
	font-family: tahoma;
	line-height: 1.3;
	border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0
}

.error-highlighter {
	background: transparent
}

#db-isay.isay-new .isay-links .notes-link a {
	background-position: -188px 13px
}

#db-isay .isay-links .isay-pic {
	background:
		url(/f/sns/163f9c5a04b1e81186449554f759cb9ea798540d/pics/sns/isay/isay_icon_pic_t.png)
		0 6px no-repeat;
	_background:
		url(/f/sns/71e9464342ed297ecc27cead8d8228ed35d741d0/pics/sns/isay/isay_icon_pic.png)
		0 6px no-repeat;
	background:
		url(/f/sns/1931ea1504566997b7b93816547b07cea2ad8dea/pics/sns/isay/isay_icon_pic.svg)
		0 6px no-repeat, none
}

#db-isay.act-pic .group-pics {
	padding: 15px 0
}

#db-isay.act-pic .btn-group {
	visibility: hidden
}

.upload-section {
	position: relative;
	width: 651px;
	height: 94px;
	border: 3px dashed #eee;
	margin: 3px 0;
	text-align: center;
	color: #ccc;
	background: #fafafa
}

.upload-section:hover {
	background: #f4f4f4
}

.upload-section p {
	margin: 70px 0 0;
	line-height: 2
}

.upload-section .drag-tip {
	position: absolute;
	top: 0;
	z-index: 1;
	margin: 0;
	text-align: left;
	text-indent: 25px;
	background:
		url(images/bn_srh_1.png/isay_icon_pic_t.png)
		transparent 5px -26px no-repeat;
	_background:
		url(images/bn_srh_1.png/isay_icon_pic.png)
		transparent 5px -26px no-repeat;
	background:
		url(images/bn_srh_1.png/isay_icon_pic.svg)
		5px -26px no-repeat, none
}

.pic-upload {
	position: relative
}

.tips-overly h2 {
	margin-bottom: 6px;
	font-size: 12px;
	font-weight: 800;
	color: #333;
}

.tips-overly .tips-hd {
	position: absolute;
	top: -6px;
	top: -8px\9;
	left: 8px;
	background: #fff;
	width: 10px;
	height: 10px;
	overflow: hidden;
	line-height: 10em;
	border-left: 1px solid #bfddb7;
}



.notice-update-privacy {
	border-radius: 6px;
	margin: -58px 0 56px;
	padding: 15px;
	background: #FCF7E2;
	border: 1px solid #f2d976;
	color: #494949;
	font-size: 12px;
}

.notice-title {
	margin-bottom: 5px;
	font-size: 15px;
	font-weight: bold;
}

.notice-btn {
	height: 28px;
	width: 70px;
	border-radius: 2px;
	color: #fff;
	font-size: 12px;
	line-height: 28px;
	text-align: center;
	background: #FAB043;
	float: right;
	margin-top: 3px;
	margin-left: 10px;
}

.notice-btn:link, .notice-btn:hover, .notice-btn:active {
	color: #fff;
	background: #fab043;
}

.group-pics {
	overflow: hidden;
	zoom: 1
}

.group-pics img {
	cursor: pointer
}

.group-pic {
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top
}

.group-pic a {
	display: none
}

.group-pics-small .group-pic {
	float: left;
	clear: both;
	min-width: 32px;
	min-height: 32px;
	margin: 0 0 10px 0;
	line-height: 0;
	font-size: 0
}

.group-pics-small a {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 32px;
	height: 32px;
	line-height: 100em;
	text-align: center;
	overflow: hidden
}

.group-pics-small .group-pic a:link, .group-pics-small .group-pic a:visited,
	.group-pics-small .group-pic a:hover, .group-pics-small .group-pic a:active
	{
	opacity: .8;
	filter: alpha(opacity = 80);
	background:
		url(/f/sns/fbe9baba74d3637b0cca89380b58762a60ea6f82/pics/icon_zoom_in.png)
		no-repeat
}

.group-pics-small .group-pic a:hover {
	opacity: 1;
	filter: alpha(opacity = 100)
}

.stream-items .status-item .movie-question-block .pic .pic-wrap {
	max-height: 120px;
	width: 120px;
	overflow: hidden
}

.stream-items .status-item .movie-question-block .pic .pic-wrap img {
	width: 100%
}


textarea.reshare-text-input:focus::-ms-input-placeholder {
	opacity: 0
}

textarea.reshare-text-input:focus::placeholder {
	opacity: 0
}


.grid-16-8 .article {
	width: 604px;
	padding: 0
}