@CHARSET "UTF-8";

.account-body {
	max-width: 750px;
	margin: auto;
	padding: 20px 15px
}

.account-body, .account-body h2 {
	box-sizing: border-box;
	width: 100%
}

.account-body h2 {
	margin: 0 auto;
	padding: 0 0 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 1
}

.account-body-text {
	display: block;
	margin-bottom: 20px;
	font-size: 23px
}

.account-body-tips {
	display: block;
	color: #9b9b9b;
	font-size: 15px;
	line-height: 1.2
}

.account-body-tips em {
	color: #f5aa40;
	font-style: normal
}

html {
	color: #111;
	width: 100%;
	height: 100%;
	background-color: #fff
}

body, button, div, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend,
	li, textarea, ul {
	margin: 0;
	padding: 0
}

ol, ul {
	list-style: none
}

textarea {
	resize: none
}

a:active, a:hover, input[type=number]:focus, input[type=password]:focus,
	input[type=phone]:focus, input[type=text]:focus, textarea:focus {
	outline: none
}

button, input[type=button], input[type=submit] {
	border: none;
	background-color: transparent;
	-webkit-appearance: none;
	font-size: 13px;
	outline: none;
	cursor: pointer
}

fieldset {
	border: none
}

label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

a {
	cursor: pointer
}

body {
	font: normal 13px/1.618 Helvetica, Arial, Hiragino Sans GB, Microsoft
		YaHei, WenQuanYi Micro Hei, sans-serif;
	min-height: 100%;
	color: #333
}

.account-form-field-options a:active, .account-form-field-options a:hover,
	.account-form-field-options a:link, .account-form-field-options a:visited
	{
	text-decoration: none;
	color: #bababa;
	background-color: transparent
}

.account-form-field-options a:active, .account-form-field-options a:hover
	{
	color: #a1a1a1
}

body {
	-webkit-tap-highlight-color: transparent
}

body, div, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
	margin: 0;
	padding: 0
}

a {
	text-decoration: none;
	border: none;
	tap-highlight-color: transparent
}

input[type=number], input[type=password], input[type=phone], input[type=text]
	{
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(255, 0, 0, 0);
	background: transparent
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #fff inset
}

input::-webkit-contacts-auto-fill-button, input::-webkit-credentials-auto-fill-button
	{
	visibility: hidden;
	pointer-events: none;
	position: absolute;
	right: 0
}

a img {
	border-width: 0;
	vertical-align: middle
}

a:focus, button, input {
	outline: 0
}

.app-hide, .hide {
	display: none
}

.show {
	display: block
}

.mrg0 {
	margin: 0
}

.account-form-raw {
	margin-bottom: 20px;
	position: relative
}

.account-form-raw:after {
	content: "";
	clear: both
}

.account-form-label {
	float: left;
	display: block;
	line-height: 40px;
	height: 40px;
	width: 60px;
	font-size: 13px
}

.account-form-field {
	position: relative;
	margin-bottom: 10px;
	margin: 0;
	width: 350px;
	display: inline-block
}

.account-form-field-options {
	position: absolute;
	padding: 0 10px;
	right: 0;
	top: 0;
	line-height: 42px
}

.account-form-field-options em {
	display: inline-block;
	width: 4em;
	text-align: center;
	font-style: normal;
	color: #999
}

.account-form-field-captcha .account-form-field-options {
	padding: 0;
	width: 50%;
	top: 5px;
	right: 5px;
	height: 32px
}

.account-form-field-captcha .account-form-field-options img {
	width: 100%;
	height: 100%
}

.account-form-field-area-code {
	top: 0;
	left: 0
}

.account-form-field-area-code select {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	z-index: 1;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: none;
	opacity: 0;
	font-size: 13px;
	cursor: pointer
}

.account-form-field-area-code-label {
	position: relative;
	padding-right: 5px;
	line-height: 43px;
	background:
		url("data:image/svg+xml;charset=utf-8,%3Csvg width='9' height='13' viewBox='0 0 9 13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23494949' fill-rule='evenodd' d='M4.89.24l3.486 3.487A.822.822 0 0 1 7.214 4.89L4.308 1.984 1.403 4.89A.822.822 0 1 1 .24 3.727L3.727.241a.822.822 0 0 1 1.163 0zm-.582 10.776L7.214 8.11a.822.822 0 0 1 1.162 1.163L4.89 12.759a.82.82 0 0 1-1.163 0L.241 9.273A.822.822 0 0 1 1.403 8.11l2.905 2.906z'/%3E%3C/svg%3E")
		no-repeat 100% 50%;
	margin-right: 20px
}

.account-form-field-area-code-label:after {
	content: "";
	position: absolute;
	right: -10px;
	top: 6px;
	height: 30px;
	width: 0;
	border-right: 1px solid #e4e6e5
}

.account-form-field.hide {
	display: none
}

.account-form-field-phone input {
	padding-left: 60px;
	padding-right: 40px
}

.account-form-field-area-code {
	width: 50px;
	position: absolute;
	top: 1px;
	left: 1px;
	overflow: hidden
}

.account-form-field-area-code-label {
	width: 100%;
	margin: 0;
	padding-right: 1px;
	text-align: center;
	font-size: 15px;
	font-weight: 700;
	line-height: 40px;
	background: none;
	cursor: pointer
}

.account-form-field-area-code-label:after {
	height: 22px;
	top: 8px;
	right: 1px
}

.account-form-input {
	width: 280px;
	font-size: 13px;
	padding: 10px;
	border-radius: 3px;
	box-sizing: border-box;
	border: 1px solid #e4e6e5
}

.account-form-error {
	position: absolute;
	top: -10px;
	left: 0
}

.account-form-error .fatal-msg {
	color: #fe2617
}

.account-form-error .error-msg {
	color: #ccc
}

.account-form-error .info-msg {
	color: #41ac52
}

.account-form-field-submit {
	position: relative;
	width: 280px;
	margin-left: 60px;
	padding-top: 20px
}

.account-form-field-submit.mrg-left {
	margin-left: 60px
}

.account-form-field-submit.mrg0 {
	margin: 0
}

.account-form .btn {
	display: inline-block;
	height: 36px;
	padding: 0 35px;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	line-height: 36px;
	text-align: center;
	outline: 0;
	cursor: default;
	background-color: rgba(66, 189, 86, .5)
}

.account-form .btn-active {
	cursor: pointer;
	background-color: #41ac52
}

.account-form .btn-active:hover, .account-form .btn-active:visited {
	color: #fff
}

.account-side h2 {
	font-size: 15px;
	color: #072;
	margin: 0 0 12px;
	line-height: 150%
}

.aside-link a {
	color: #37a;
	font-size: 14px
}

.ui-dialog-panel-title {
	border-bottom: 1px solid transparent;
	margin-bottom: 1px;
	border-image-slice: 0 0 2 0;
	border-image-width: 0 0 1px 0;
	border-image-repeat: stretch stretch;
	border-image-outset: 0 0 1px 0;
	border-image-source:
		url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='2'%3E%3Crect fill='%23d8d8d8' width='100%25' height='50%25'/%3E%3C/svg%3E")
}

.ui-dialog-lnk-close, .ui-dialog-panel-title, .ui-dialog-panel button[type=button],
	.ui-dialog-panel button[type=submit] {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased
}

.ui-dialog-lnk-close {
	position: absolute;
	top: 2px;
	right: 5px;
	line-height: .75;
	font-weight: lighter;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.ui-dialog-lnk-close:active, .ui-dialog-lnk-close:hover,
	.ui-dialog-lnk-close:link, .ui-dialog-lnk-close:visited {
	padding: 8px 10px;
	font-size: 21px;
	color: #999;
	text-decoration: none
}

.ui-dialog-lnk-close:hover {
	color: #aaa
}

.ui-dialog-lnk-close:active {
	color: #777
}

.ui-dialog-panel button[type=button] {
	position: relative;
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 6px 20px;
	font-size: 12px;
	background-color: #fff;
	color: #444
}

@media screen and (-webkit-min-device-pixel-ratio:2) , screen and
		(min--moz-device-pixel-ratio:2) , screen and
		(min-device-pixel-ratio:2) , screen and (min-resolution:2dppx) ,
		screen and (min-resolution:192dpi) {
	.ui-dialog-panel button[type=button] {
		border-width: 0;
		box-shadow: 0 0 0 .5px #aaa
	}
}

.ui-dialog-panel button:hover[type=button] {
	background-color: #eee;
	border-color: #eee
}

.ui-dialog-panel button:active[type=button] {
	background-color: #ccc;
	border-color: #ccc
}

.ui-dialog-panel button[type=submit] {
	padding: 6px 20px;
	font-size: 12px;
	border-radius: 3px;
	background-color: #42bd56;
	border: 1px solid #42bd56;
	color: #fff
}

.ui-dialog-panel button:hover[type=submit] {
	background-color: #5ccb6e
}

.ui-dialog-panel button:active[type=submit] {
	background-color: #49c55d
}

.ui-dialog-mask {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: hsla(0, 0%, 100%, .5);
	text-align: center;
	font-size: 0;
	padding: 20px 0;
	overflow-x: none;
	overflow: auto;
	z-index: 100;
	background-color: rgba(0, 0, 0, .5)
}

.ui-dialog-mask:before {
	content: "";
	display: inline-block;
	height: 100%;
	width: 1px;
	overflow: hidden;
	margin-left: -1px;
	vertical-align: middle
}

.ui-dialog-container {
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	width: 92%;
	max-width: 360px
}

.ui-dialog-panel {
	position: relative;
	border: 1px solid #aaa;
	border-radius: 4px;
	min-width: 200px;
	min-height: 80px;
	margin: auto;
	text-align: left;
	background-color: #fff;
	height: 100%;
	overflow: auto
}

@media screen and (-webkit-min-device-pixel-ratio:2) , screen and
		(min--moz-device-pixel-ratio:2) , screen and
		(min-device-pixel-ratio:2) , screen and (min-resolution:2dppx) ,
		screen and (min-resolution:192dpi) {
	.ui-dialog-panel {
		border-width: 0;
		box-shadow: 0 0 0 .5px #aaa
	}
}

.ui-dialog-panel:before {
	content: "";
	position: absolute;
	border-radius: 4px;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25)
}

.ui-dialog-panel-title {
	padding: 8px 0;
	text-align: center;
	font-size: 14px;
	color: #494949;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.ui-dialog-body-wrapper {
	padding: 20px
}

.GlobalPhone {
	display: table;
	padding: 0;
	height: 28px;
	width: 210px;
	font-size: 0;
	position: relative
}

.GlobalPhone>* {
	font-size: 14px;
	display: table-cell;
	vertical-align: top
}

.GlobalPhone>span, .GlobalPhone input {
	line-height: 28px
}

.GlobalPhone>span {
	text-align: center;
	padding: 0 7px;
	cursor: pointer;
	color: #494949;
	white-space: nowrap
}

.GlobalPhone>span:after {
	content: "";
	display: inline-block;
	height: 15px;
	border-right: 1px solid #ccc;
	vertical-align: middle;
	margin-left: 7px
}

.GlobalPhone input[type=text] {
	padding: 0 7px 0 0;
	border: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box
}

.GlobalPhone input[type=text]:focus {
	border: 0;
	outline: 0
}

.GlobalPhone #verify_phone_err {
	position: absolute;
	left: 100%;
	top: 0;
	white-space: nowrap;
	margin-left: 10px;
	line-height: 28px;
	font-size: 12px;
	color: #fe2617
}

.GlobalPhoneList li {
	text-align: justify;
	text-justify: distribute;
	-ms-text-justify: distribute;
	font-size: 0
}

.GlobalPhoneList li>* {
	display: inline-block
}

.GlobalPhoneList li:after {
	content: "";
	width: 100%;
	display: inline-block
}

.GlobalPhoneItem-district {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility
}

.GlobalPhoneDialog .bd {
	max-height: 30em;
	overflow: auto !important
}

.GlobalPhoneList li {
	overflow: hidden;
	line-height: 2.6;
	color: #494949;
	cursor: pointer;
	border-bottom: 1px solid #e5e5e5
}

.GlobalPhoneList li:first-child {
	border-top: 1px solid #e5e5e5
}

.GlobalPhoneList li>* {
	font-size: 14px
}

.GlobalPhoneList li.is-active>* {
	color: #42bd56
}

.GlobalPhoneList li.is-active .GlobalPhoneItem-district:after {
	content: "\2714\FE0E";
	margin-left: 10px
}

.GlobalPhoneItem-district {
	font-weight: 700
}

.GlobalPhoneItem-district span {
	font-size: 1.5em;
	line-height: 1;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-top: -2px
}

.GlobalPhoneItem-number {
	color: #aaa
}

.account-body-tips {
	padding-bottom: 30px;
	font-size: 13px;
	font-weight: 400
}

.account-body-tips em {
	display: inline-block;
	margin: 0 5px;
	font-size: 0;
	height: 1px;
	width: 40px;
	background: #ccc;
	vertical-align: middle
}

.account-form-label {
	width: 80px
}

.account-form .find-pwd-way {
	line-height: 40px
}

.account-form .find-pwd-way li {
	display: inline-block;
	margin-right: 30px
}

.account-form .find-pwd-way input[type=radio] {
	margin-right: 3px
}

.account-form .find-pwd-way input[type=radio]:checked, .account-form .find-pwd-way input[type=radio]:checked:after
	{
	background-color: #41ac52
}

.account-form-field-submit {
	width: 100%;
	border-top: 1px dashed #ccc;
	margin-left: 0;
	margin-top: 40px
}

.account-form-error {
	top: -30px
}

.online-apply {
	margin-top: 25px;
	color: #9b9b9b
}

.online-apply a {
	color: #3577a9
}
